<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  </head>

  <body>
    <div id="app">
      <div
        class="min-h-screen bg-gray-300 py-6 flex flex-col justify-center sm:py-12"
      >
        <div class="container flex justify-center py-20">
          <div class="max-w-lg p-3 bg-white rounded-xl hover:shadow">
            <div class="flex justify-between w-full">
              <a :href="githubUrl"
                ><img :src="imageUrl" width="150" class="rounded-lg"
              /></a>
              <div class="ml-2">
                <div class="p-3">
                  <h3 class="text-2xl">{{firstName}}</h3>
                  <span>{{lastName}}</span>
                </div>
                <div
                  class="flex items-center justify-between p-3 bg-gray-200 rounded-lg"
                >
                  <div class="mr-3">
                    <span class="block text-gray-400">Article</span>
                    <span class="text-xl font-bold text-black">34</span>
                  </div>
                  <div class="mr-3">
                    <span class="block text-gray-400">Followers</span>
                    <span class="text-xl font-bold text-black"
                      >{{follower}}</span
                    >
                  </div>
                  <div>
                    <span class="block text-gray-400">Ratings</span>
                    <span class="text-xl font-bold text-black">{{rating}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-col">
              <h2 class="leading-relaxed">Description</h2>
              <p class="text-sm text-gray-500 font-normal leading-relaxed">
                {{description}}
              </p>
            </div>
          </div>
        </div>

        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
          <div
            class="relative px-4 py-10 bg-white mx-8 md:mx-0 shadow rounded-3xl sm:p-10"
          >
            <div class="max-w-md mx-auto">
              <div class="flex items-center space-x-5">
                <div
                  class="h-14 w-14 bg-yellow-200 rounded-full flex flex-shrink-0 justify-center items-center text-yellow-500 text-2xl font-mono"
                >
                  p
                </div>
                <div
                  class="block pl-2 font-semibold text-xl self-start text-gray-700"
                >
                  <h2 class="leading-relaxed">Update Profile</h2>
                  <p class="text-sm text-gray-500 font-normal leading-relaxed">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  </p>
                </div>
              </div>
              <form @submit.prevent="checkForm">
                <div class="divide-y divide-gray-200">
                  <div
                    class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
                  >
                    <div class="flex flex-col">
                      <label class="leading-loose">Firstname</label>
                      <input
                        type="text"
                        class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="firstname"
                        v-model="firstName"
                        name="firstName"
                        :class="errors.firstName == false ? 'border-red-500' : ' ' " 
                      />
                    </div>
                    <span v-if="errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                      {{this.errors.firstName}}
                   </span>
                    <div class="flex flex-col">
                      <label class="leading-loose">Lastname</label>
                      <input
                        type="text"
                        class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="Optional"
                        v-model="lastName"
                        name="lastName"
                        :class="errors.lastName == false ? 'border-red-500' : ' ' " 
                      />
                    </div>
                    <span v-if="errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                      {{this.errors.lastName}}
                   </span>
                    <div class="flex flex-col">
                      <label class="leading-loose">Event Description</label>
                      <input
                        type="text"
                        class="px-4 py-2 border focus:ring-gray-500 focus:border-gray-900 w-full sm:text-sm border-gray-300 rounded-md focus:outline-none text-gray-600"
                        placeholder="Optional"
                        v-model="description"
                        name="description"
                        :class="errors.description == false ? 'border-red-500' : ' ' " 
                      />
                    </div>
                    <span v-if="errors" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
                      {{this.errors.description}}
                   </span>
                  </div>
                  <div class="pt-4 flex items-center space-x-4">
                    <a
                      class="flex justify-center items-center w-full text-gray-900 px-4 py-3 rounded-md focus:outline-none"
                      @click="clear"
                    >
                      <svg
                        class="w-6 h-6 mr-3"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M6 18L18 6M6 6l12 12"
                        ></path>
                      </svg>
                      Clear
                    </a>
                    <button
                      class="bg-blue-500 flex justify-center items-center w-full text-white px-4 py-3 rounded-md focus:outline-none"
                    >
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <my-button @whenclick="changeTitleText"></my-button> -->

    <!-- my main.js -->
    <script src="profile.js"></script>
  </body>
</html>
